header {
  background-color: #929292;
  min-height: 600px;
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/*=================== БЛОК ШАПКА TOP===================*/

.top p {
  float: left;
  margin: 29px 0;
}

.top p:nth-child(1) {
  margin-right: 319px;
}

.top p:last-child {
  float: right;
}

.top a {
  font-family: "Gotham Pro", sans-serif;
  font-size: 16px;
  color: #ffffff;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
}

/*===============БЛОК ГЛАВНОЕ МЕНЮ MENU================*/

.menu {
  background-color: #ffffff;
  min-height: 100px;
}

.menu .miniLogo {
  float: left;
  margin: 15px 87px 15px 0;
}

.menu ul {
  float: left;
  padding: 0;
  margin-top: 42px;
}

.menu li {
  float: left;
  list-style: none;
  padding-right: 38px;
}

.menu li a {
  font-family: "Gotham Pro Narrow", sans-serif;
  font-size: 18px;
  color: #999999;
  font-weight: medium;
  text-transform: uppercase;
  text-decoration: none;
}

.menu li a:hover {
  color: #16a8cc;
}

.menu .find img {
  float: right;
  margin-top: 28px;
}

.menu .find p {
  float: right;
  margin-top: 40px;
  margin-right: 15px;
}

.menu .find a {
  font-family: "Gotham Pro Narrow", sans-serif;
  font-size: 20px;
  color: #16a8cc;
  font-weight: 1000;
  text-transform: uppercase;
  text-decoration: none;
  float: left;
}

/*==================ГЛАВНЫЙ ЛОГОТИП====================*/

.mainLogo {
  width: 544px;
  margin: -112px auto 73px;
}

/*======================КАРУСЕЛЬ=======================*/

.carousel {
  width: 760px;
  margin: auto;
}

.carousel .item {
  float: left;
  width: 190px;
  margin: auto;
  text-align: center;
}

.carousel a {
  font-family: "Gotham Pro Narrow", sans-serif;
  font-size: 20px;
  color: #474747;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}

.carousel p {
  margin: 30px 0 58px;
}

/*======================НОВОСТИ========================*/

.news {

}

.imgNews {
    background-color: #d1d1d1;
  min-width: 1044px;
  height: 600px;
  float: left;
  position: ;
}

.textNews {}

.textNews h3 {}

.textNews p {}

.textNews a {}